<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard" class="al-logo clearfix"><span>Blur</span>Admin</a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div>

  <div class="user-profile clearfix">
    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link">
        <img ng-src={{user.photo}}>
      </a>
      <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li class="user-header">
            <img ng-src={{user.photo}} class="img-circle" alt="User Image">
            <p>Admin
              <small>B本</small>
            </p>
        </li>
        <li class="user-body">
          <div class="margin10 "><span class="user-body-left">单位</span><span class="user-body-right">{{user.postName}}</span></div>
          <div class="margin10 "><span class="user-body-left">职位</span><span class="user-body-right">{{user.roleName}}</span></div>
          <div class="margin10 "><span class="user-body-left">手机号</span><span class="user-body-right">{{user.phone}}</span></div>
          <div class="margin10 "><span class="user-body-left">身份证号</span><span class="user-body-right">{{user.idNum}}</span></div>
        </li>
      <!-- <li><a href><i class="fa fa-cog"></i>Settings</a></li> -->
        <li class="user-footer">
          <a href class="signout center" ng-click="logout()"><i class="fa fa-power-off"></i>注销</a>
        </li>
      </ul>
    </div>
    <msg-center></msg-center>
  </div>
</div>