<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <i class="ion-navicon"></i>
                    <span class="box-title">数据列表</span>
                    <button type="button" class="btn btn-primary btn-with-icon" style="margin-left: 20px;" ng-click='classCreate();'>新建</button>
                </div>
                <div class="box-body">
                    <div class="box-content">
                        <table class="table table-bordered table-hover table-condensed" st-table="smartTableData">
                            <thead>
                                <tr class="sortable ">
                                    <th class="table-id" st-sort="id" st-sort-default="true">序号</th>
                                    <th st-sort="createDate">入学年份</th>
                                    <th st-sort="primaryPerson">班级全称</th>
                                    <th st-sort="plandateStart">班级简称</th>
                                    <th st-sort="plandateEnd">班级负责人</th>
                                    <th st-sort="plandateEnd">负责人联系方式</th>
                                    <th st-sort="edit">操作</th>
                                </tr>
                                <!-- <tr>
                                                <th></th>
                                                <th><input st-search="firstName" placeholder="Search First Name" class="input-sm form-control search-input" type="search" /></th>
                                                <th><input st-search="lastName" placeholder="Search Last Name" class="input-sm form-control search-input" type="search" /></th>
                                                <th><input st-search="username" placeholder="Search Username" class="input-sm form-control search-input" type="search" /></th>
                                                <th><input st-search="email" placeholder="Search Email" class="input-sm form-control search-input" type="search" />
                                                </th>
                                                <th><input st-search="age" placeholder="Search Age" class="input-sm form-control search-input" type="search" />
                                                </th>
                                            </tr> -->
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in class">
                                    <tr ng-repeat="item in class">
                                        <td class="table-id">{{$index+1}}</td>
                                        <td>{{item.timeName}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.code}}</td>
                                        <td>{{item.master}}</td>
                                        <td>{{item.phone}}</td>
                                        <td>
                                            <a class="emial-link" style="cursor: pointer;" ng-click="classEdit(item.id)">查看班级细节</a>
                                        </td>
                                    </tr>
                                </tr>
                            </tbody>
                            <!-- <tfoot>
                                            <tr>
                                                <td colspan="6" class="text-center">
                                                    <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                                                </td>
                                            </tr>
                                        </tfoot> -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="form-group select-page-size-wrap ">
             <label>Rows on page
                    <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                            ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                    </select>
                  </label> 
            
        </div> -->

</div>