<div class="wrapper">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="class">选择入学年份：</label>
            <select name="endData" ng-model="class.createDate"></select>
        </div>
        <div class="form-group">
            <label for="cardId">班级全称：</label>
            <input type="text" class="form-control" ng-model='class.name'>
        </div>
        <div class="form-group">
            <label for="input01">班级简称：</label>
            <input type="number" class="form-control" ng-model="plandateStart" ng-model="class.parentName">
        </div>
        <div class="form-group">
            <label for="email">班级信息描述：</label>
            <textarea placeholder="请输入内容" class="form-control" ng-model="class.direction"></textarea>
        </div>
        <div class="form-group">
            <label for="period">班级负责人：</label>
            <input type="number" class="form-control" ng-model="plandateStart" ng-model="class.master">
        </div>
        <div class="form-group">
            <label for="message">负责人邮箱：</label>
            <input type="email" class="form-control" placeholder="请输入Email" ng-model="class.email">
        </div>
        <div class="form-group">
            <label for="input01">负责人电话</label>
            <input type="number" class="form-control" ng-model="plandateStart" ng-model="class.phone">
        </div>
        <footer class="center">
            <button class="btn btn-danger margin10" ng-click='cancelClassEdit();'>取消</button>
            <button class="btn btn-primary" ng-click="saveClass()">保存</button>
        </footer>
    </form>
</div>