<div class="wrapper">
    <div class="box-header with-border">
        <span class="box-title">{{update}}教学计划</span>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="class">教学计划名称：</label>
            <input type="text" class="form-control" ng-model='teaching.name' placeholder="请输入教学计划名称">
        </div>
        <div class="form-group">
            <label for="cardId">计划负责人：</label>
            <input type="text" class="form-control" ng-model='teaching.primaryPerson' placeholder="请输入计划负责人">
        </div>
        <div class="form-group">
            <label for="input01">负责人电话：</label>
            <input type="tel" class="form-control" ng-model="teaching.phone" placeholder="请输入计划负责人">
        </div>
        <div class="form-group">
            <label for="email">负责人邮箱：</label>
            <input type="email" class="form-control" ng-model="teaching.email" placeholder="请输入负责人邮箱">
        </div>
        <div class="form-group">
            <label for="period" style="display:block;">教学计划周期：</label>
            <div class="col-xs-4">
                <input type="date" name="startData" ng-model="teaching.plandateStart" class="form-control"></input>
            </div>
            <div class="col-xs-4">
                <input type="date" name="endData" ng-model="teaching.plandateEnd" class="form-control"></input>
            </div>
        </div>
        <div class="form-group">
            <label for="message">教学计划细节：</label>
            <textarea placeholder="请输入教学计划细节" class="form-control" ng-model="teaching.outline"></textarea>
        </div>
        <footer class="center">
            <button class="btn btn-danger margin10" ng-click='cancelTeachingEdit();'>取消</button>
            <button class="btn btn-danger margin10" ng-click='lock();' ng-show="isShow">锁定</button>
            <button class="btn btn-danger margin10" ng-click='active();' ng-show="isShow">激活</button>
            <button class="btn btn-primary" ng-click="saveTeaching()">保存</button>
        </footer>
    </form>
</div>