<div class="content-top clearfix">
  <h1 class="al-title">{{ activePageTitle }}</h1>

  <ul class="breadcrumb al-breadcrumb">
    <li>
      <a href="#/dashboard">Home</a>
    </li>
    <li>{{ activePageTitle }}</li>
  </ul>
  <!-- <div class="row" ng-show="isShow">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="box">
        <div class="box-header with-border">
            <i class="ion-ios-search-strong"></i>
           <span class="box-title">筛选查询</span>
        </div>
        <div class="box-body">
          <div class="box-content">
            <input type="date" class="col-md-4 col-sm-8 col-xs-12 select" ng-model="search.date">
            <input type="text" class="col-md-4 col-sm-8 col-xs-12 select" ng-model="search.name" placeholder="名称/关健字">
            <button type="button" class="selectBtn" ng-click="getSearch()">查询</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>