<div class="wrapper">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="class">授课计划名称：</label>
            <input type="text" class="form-control" ng-model='teaching.name'>
        </div>
        <div class="form-group">
            <label for="cardId">计划负责人：</label>
            <input type="text" class="form-control" ng-model='teaching.primaryPerson'>
        </div>
        <div class="form-group">
            <label for="input01">负责人电话：</label>
            <input type="number" class="form-control" ng-model="plandateStart" ng-model="teaching.phone">
        </div>
        <div class="form-group">
            <label for="email">负责人邮箱：</label>
            <input type="email" class="form-control" placeholder="请输入Email" ng-model="teaching.email">
        </div>
        <div class="form-group">
            <label for="period">授课计划周期：</label>
            <select name="startData" ng-model="teaching.plandateStart"></select>
            <select name="endData" ng-model="teaching.plandateEnd"></select>
        </div>
        <div class="form-group">
            <label for="message">授课计划细节：</label>
            <textarea placeholder="请输入内容" class="form-control" ng-model="useable"></textarea>
        </div>
        <footer class="center">
            <button class="btn btn-danger margin10" ng-click='cancelDirectoryEdit();'>取消</button>
            <button class="btn btn-primary" ng-click="saveDirectory()">保存</button>
        </footer>
    </form>
</div>