<div class="wrapper">
    <form class="form-horizontal">
        <div class="panel-heading clearfix">
            <h3>创建课程表</h3>
        </div>
        <div class="cteateClassTable">
            <div class="form-group">
                <label for="class">选择授课计划：</label>
                <select name="endData" ng-model="class.createDate" class="form-control"></select>
            </div>
            <div class="form-group">
                <label for="cardId">选择课程：</label>
                <select name="endData" ng-model="class.createDate" class="form-control"></select>
            </div>
            <div class="form-group">
                <label for="input01">选择老师：</label>
                <select name="endData" ng-model="class.createDate" class="form-control"></select>
            </div>
            <div class="form-group">
                <label for="email">授课地点：</label>
                <input type="number" class="form-control" ng-model="plandateStart" ng-model="class.master">
            </div>
            <div class="form-group">
                <label for="period" style="display: block">授课日期：</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" ng-model="startDate" ng-required="true">
                    <!-- <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="startDate" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>({{ today | date:'shortDate' }})
                    </p> -->
                </div>
                <div class="col-sm-6">
                    <input type="date" class="form-control" ng-model="endDate" ng-change="getTeacherTime()" ng-model="endDate" ng-required="true">
                </div>
            </div>
            <div class="form-group">
                <div class="controls radio-controls col-sm-6">
                    <label class="radio custom-radio">
                    <input type="radio" ng-model="options.type" name="toasts" value="包括节假日" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                    <span>包括节假日</span>
                </label>
                    <label class="radio custom-radio">
                    <input type="radio" ng-model="options.type" name="toasts" value="不包含节假日" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                    <span>不包含节假日</span>
                </label>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-default" ng-click="addTime()">添加授课时段</button>
                    <div class="margin10">
                        <label class="control-label col-sm-12 text-left">选择<span>{{}}</span>日期的授课时段：</label>
                        <div class="form-group">
                            <div class="col-sm-6" style="margin-bottom: 15px;">
                                <select class="form-control" ng-model="startTime" ng-change="getTime()">
                                    <option ng-repeat="time in times" value="{{time}}">{{time}}</option>
                                </select>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 15px;">
                                <select class="form-control" ng-model="endTime">
                                    <option ng-repeat="endtime in endtimes" value="{{endtime}}">{{endtime}}</option>
                                </select>
                            </div>
                        </div>
                        <div class='text-right'>
                            <button type="button" class="btn btn-info btn-sm" ng-click="getTeachingTimes()">添加</button>
                        </div>

                    </div>
                </div>
            </div>
            <table class="table table-bordered text-center" st-table="smartTableData">
                <tbody>
                    <tr>
                        <td class="black-muted-bg">授课日期</td>
                        <td ng-repeat="teachingDate in teachingDates track by $index">{{teachingDate}}</td>
                    </tr>
                    <tr ng-repeat="rowContent in rows track by $index">
                        <td class="black-muted-bg">添加时段{{$index+1}}</td>
                        <td ng-repeat="teachingTime in teachingTimes track by $index">{{teachingTime}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <label for="input01">课程表细节</label>
                <textarea placeholder="请输入内容" class="form-control" ng-model="class.direction"></textarea>
            </div>
        </div>
        <!-- <footer class="center">
            <button class="btn btn-danger margin10" ng-click='cancelClassEdit();'>取消</button>
            <button class="btn btn-primary" ng-click="saveClass()">保存</button>
        </footer> -->

        <div class="panel-heading clearfix">
            <h3>上课学生列表</h3>
        </div>

        <div class="studentList">
            <button type="button" class="btn btn-default margin10">删除全部学生</button>
            <table class="table table-hover">
                <thead>
                    <tr class="black-muted-bg">
                        <th>班级名称</th>
                        <th>学生姓名</th>
                        <th>电话号</th>
                        <th>身份证号</th>
                        <th>密码</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in students">
                        <td>{{student.name}}</td>
                        <td>{{item.createDate}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.parentName}}</td>
                        <td>{{item.master}}</td>
                        <td><a class="emial-link" style="cursor: pointer;" ng-click="deleteStudent()">删除</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel-heading clearfix">
            <h3>添加上课学生</h3>
        </div>
        <div class="addStudent">
            <div class="form-group">
                <label for="input01">选择班级：</label>
                <select name="endData" ng-model="class.createDate" class="form-control"></select>
            </div>
            <div class="form-group">
                <label for="input01">搜索添加学生</label>
                <select name="endData" ng-model="class.createDate" class="form-control" placeholder="请输入关键字搜索"></select>
            </div>
            <button type="button" class="btn btn-default" style="margin-bottom: 13px;">添加全部学生</button>
            <table class="table table-hover">
                <thead>
                    <tr class="black-muted-bg">
                        <th>班级名称</th>
                        <th>学生姓名</th>
                        <th>电话号</th>
                        <th>身份证号</th>
                        <th>密码</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in students">
                        <td>{{student.name}}</td>
                        <td>{{item.createDate}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.parentName}}</td>
                        <td>{{item.master}}</td>
                        <td><a class="emial-link" style="cursor: pointer;" ng-click="addStudent()">添加</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="center">
            <button class="btn btn-danger margin10" ng-click='cancelClassTablesEdit();'>取消</button>
            <button class="btn btn-primary" ng-click="saveClassTable()">保存</button>
        </footer>
    </form>
</div>