<div class="horizontal-scroll">
    <div class="form-group">
        <i class="ion-asterisk" style="color:red;"></i>
        <label for="group">选择调研组：</label>
        <select type="text" class="form-control" ng-model="teacher.group">
                </select>
    </div>
    <div class="form-group">
        <i class="ion-asterisk" style="color:red;"></i>
        <label for="role">选择老师角色：</label>
        <select type="text" class="form-control" ng-model='teacher.role'>
                    </select>
    </div>
    <div class="form-group">
        <i class="ion-asterisk" style="color:red;"></i>
        <label for="title">选择老师职称：</label>
        <select type="text" class="form-control" ng-model='teacher.title'>
                        </select>
    </div>
    <div class="form-group">
        <i class="ion-asterisk" style="color:red;"></i>
        <label for="name">请输入老师姓名：</label>
        <input class="form-control" placeholder="请输入老师姓名" ng-model='teacher.name'>
    </div>
    <div class="form-group">
        <i class="ion-asterisk" style="color:red;"></i>
        <label for="sex">老师性别：</label>
        <select type="text" class="form-control" ng-options="i for i in ['女','男']" ng-model='teacher.sex'>
                </select>
    </div>
    <div class="form-group">
        <i class="ion-asterisk" style="color:red;"></i>
        <label for="cardId">老师身份证号：</label>
        <input type="number" class="form-control" placeholder="请输入身份证号\app账号" ng-model="teacher.cardId">
    </div>
    <div class="form-group">
        <i class="ion-asterisk" style="color:red;"></i>
        <label for="email">邮箱地址：</label>
        <input type="email" class="form-control" placeholder="请输入Email" ng-model="teacher.email">
    </div>
    <div class="form-group">
        <i class="ion-asterisk" style="color:red;"></i>
        <label for="tel">手机号：</label>
        <input type="number" class="form-control" placeholder="请输入手机号" ng-model='teacher.tel'>
    </div>
    <div class="form-group">
        <i class="ion-asterisk" style="color:red;"></i>
        <label for="account">app账号</label>
        <input type="text" class="form-control" placeholder="请输入app账号" ng-model="teacher.account">
    </div>
    <div class="form-group">
        <i class="ion-asterisk" style="color:red;"></i>
        <label for="password">登录app密码</label>
        <input type="text" class="form-control" placeholder="请输入密码" ng-model="teacher.password">
    </div>
    <div class="form-group">
        <i class="ion-asterisk" style="color:red;"></i>
        <label for="password">确认app密码</label>
        <input type="text" class="form-control" placeholder="请再次输入密码" ng-model="teacher.againPassword" ng-blur="teacherValite()">
        <div ng-if='isTeachersPassword' class="glyphicon glyphicon-exclamation-sign" style="color: #e24c4f;">两次密码输入不一致，请重新输入！</div>
    </div>

    <div class="form-group">
        <label for="message">备注信息</label>
        <textarea placeholder="请填空备注信息" class="form-control" ng-model="teacher.message"></textarea>
    </div>
    <footer class="center">
        <button class="btn btn-danger margin10" ng-click='cancelTeacherEdit()'>取消</button>
        <button class="btn btn-primary" ng-click="saveTeacher()">保存</button>
    </footer>
</div>